*.swp
.DS_Store
bin/configlet
bin/configlet.exe
*.dsk
*.local
*.dcu
*.*~*
*.identcache
*.res
Win32/*.exe
__history
exercises/Hello-World/uHelloWorld.pas
exercises/bob/uBob.pas
exercises/hamming/uHamming.pas
exercises/leap/uLeap.pas
exercises/bowling/uBowling.pas
exercises/allergies/uAllergies.pas
exercises/bank-account/uBankAccount.pas
exercises/bank-account/Win32/Debug/BankAccountTests.exe
exercises/bank-account/Win32/Debug/dunitx-results.xml
exercises/beer-song/uBeerSong.pas
exercises/beer-song/Win32/Debug/BeerSongTests.exe
exercises/beer-song/Win32/Debug/dunitx-results.xml
exercises/phone-number/uPhoneNumber.pas
exercises/phone-number/Win32/Debug/dunitx-results.xml
exercises/phone-number/Win32/Debug/PhoneNumberTests.exe
