*.swp
.DS_Store
bin/configlet
bin/configlet.exe
*.dsk
*.local
*.dcu
*.*~*
*.identcache
*.res
exercises/Hello-World/uHelloWorld.pas
exercises/bob/uBob.pas

exercises/hamming/uHamming.pas
exercises/leap/uLeap.pas
